
@{
    ViewBag.Title = "Habilidades";
}

<div id="habilidades" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/admin/habilidades/crud">Agregar</a>
        Habilidades
    </h1>

    <div id="list"></div>
</div>

<script>
    $(document).ready(function () {
        var grid = $("#list").anexGrid({
            columnas: [
                { leyenda: 'Nombre', columna: 'Nombre', ordenable: true },
                { leyenda: 'Dominio', columna: 'Dominio', ordenable: true, style: 'width:500px;' },
                { style: 'width:60px' },
            ],
            modelo: [
                {
                    propiedad: 'Nombre', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/habilidades/crud/")' + obj.Id,
                            contenido: valor
                        });
                    }
                },
                {
                    propiedad: 'Dominio', formato: function (tr, obj, valor) {
                        return '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="' + valor + '" aria-valuemin="0" aria-valuemax="100" style="width:' + valor + '%;">' + valor + '%</div></div>';
                    }
                },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/habilidades/eliminar/")' + obj.Id,
                            contenido: '<i class="fa fa-trash"></i>',
                            class: 'btn btn-danger btn-xs btn-block btn-eliminar',
                        });
                    }
                },
            ],
            url: '@Url.Content("~/admin/habilidades/listar")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'Id',
            columna_orden: 'DESC'
        });

        grid.tabla().on('click', '.btn-eliminar', function () {
            if (!confirm('¿Está seguro de eliminar este registro?'))
            {
                return false;
            }

            $.post($(this).attr('href'), function (r) {
                if (r.response) grid.refrescar();
            }, 'json')

            return false;
        })
    })
</script>