@{ 
    var defaultUserId = Portafolio.App_Start.Startup.DefaultUserId();
    var usuario = new Usuario().Obtener(defaultUserId);
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/assets/css/default-theme/style.css" type="text/css" rel="stylesheet" />
    <script src="~/assets/js/jquery.js"></script>
</head>
<body>

    <div id="cv-container">
        @Html.Partial("~/views/shared/_user.cshtml", usuario)
        <div id="content">
            @Html.Partial("~/views/shared/_MenuAdicional.cshtml", usuario)
            <div class="content-container container-fluid">

                @RenderBody()

                <footer id="footer">
                    2022 - Proyecto desarrollado por <a href="http://bravedeveloper.com">BraveDeveloper</a>
                </footer>

            </div>
        </div>
    </div>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/ini.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>