@model Usuario
<div id="user">
    <div class="user-container-fixed">
        <div class="user-container">
            <h1>Gerson Azabache Martínez</h1>
            <img class="pic" src="~/uploads/foto.png" title="Gerson Azabache" />
            <span class="title">Teléfono</span>
            <span class="description">+51-999-9999</span>
            <span class="title">Email</span>
            <span class="description"><a>gerson@mail.com</a></span>
            <span class="title">Dirección</span>
            <span class="description">Calle Las lomas de Lachay 458<br /> Perú</span>
        </div>
    </div>
</div>