
@{
    ViewBag.Title = "Testimonios";
}

<div id="Testimonios" class="page">

    <h1 class="page-header remove-margin">
        Testimonios
    </h1>

    <div id="list"></div>
</div>

<script>
    $(document).ready(function () {
        var agrid = $("#list").anexGrid({
            columnas: [
                { leyenda: 'Nombre', columna: 'Nombre', ordenable: true },
                { leyenda: 'Comentario', style: 'width:350px;' },
                { leyenda: 'Ip', columna: 'Ip', ordenable: true, style: 'width:100px;' },
                { leyenda: 'Fecha', columna: 'Fecha', ordenable: true, style: 'width:100px;' },
                { style: 'width:60px' },
            ],
            modelo: [
                {
                    propiedad: 'Nombre', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/Testimonios/crud/")' + obj.Id,
                            contenido: valor
                        });
                    }
                },
                { propiedad: 'Comentario' },
                { propiedad: 'Ip' },
                { propiedad: 'Fecha' },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/Testimonios/eliminar/")' + obj.Id,
                            contenido: '<i class="fa fa-trash"></i>',
                            class: 'btn btn-danger btn-xs btn-block btn-eliminar',
                        });
                    }
                },
            ],
            url: '@Url.Content("~/admin/Testimonios/listar")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'Id',
            columna_orden: 'DESC'
        });

        agrid.tabla().on('click', '.btn-eliminar', function () {
            if (!confirm('¿Está seguro de eliminar este registro?'))
            {
                return false;
            }

            $.post($(this).attr('href'), function (r) {
                if (r.response) agrid.refrescar();
            }, 'json')

            return false;
        })
    })
</script>